.cart{
    margin: 50px 50px;
    color: #BD81A0;
    font-family: 'Pacifico', cursive;
    text-align: center;
}
.products-cart{
    display: flex;
    flex-direction: column;
}
.product-cart{
    display: flex;
    align-items: center;
    height: 150px;
    margin-top: 20px;
    border: 2px solid #80C58D;
    border-radius: 5px;
}
.image-product-cart{
    padding: 5px;
    height: 140px;
    width: 140px;
}
.info-product-cart{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    color: #BD81A0;
    font-family: 'Pacifico', cursive;
    font-size:x-large;
}
.botonArtCarrito{
    margin-left: 50px;
    background-color: #80C58D;
    color: #BD81A0;
    font-family: 'Pacifico', cursive;
    border: none;
    height: 40px;
    width: 160px;
    border-radius: 10px;
}
.controls-cart{
    padding: 20px 0;
}
.button-cart{
    border: none;
    border-radius: 10px;
    background-color: #80C58D;
    color: #BD81A0;
    padding: 10px 50px;
}