footer{
    background-color: #80C58D;
    padding: 10px 0px;
    margin-top: 50px;
    .seccionFooter{
        padding: 5px 10px;
        color: #BD81A0;
        font-family: 'Pacifico', cursive;
        .tituloFooter {
            display: flex;
            justify-content: center;
            font-size: large;
            margin-bottom: 5px;
        }
        ul{
            padding: 5px;
            list-style: none;
            font-size: large;
            margin-bottom: 0px;
            li a{
                display: flex;
                justify-content: center;
                color: #BD81A0;
                text-decoration: none;
            }
        }
        .contacto{
            margin-bottom: 10px;
        }
        input{
            font-family: 'Pacifico', cursive;
            border-radius: 10px;
        }
        .btnFooter{
            background-color: #BD81A0;
            color: #80C58D;
            font-family: 'Pacifico', cursive;
            border: none;
            height: 35px;
            width: 60px;
            border-radius: 10px;
            margin-left: 5px;
        }
        .medios-pago {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(4, 75px);
            img{
                justify-self: center;
                margin: 2px;
                height: 45px;
                width: 70px;
            }
        }
    }
}

.redesSociales, .suscripcionMail, .ubicacion {
    display: flex;
    justify-content: center;
}

@media (min-width: 640px) {
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .seccionFooter1 {
            order: 1;
        }
        .seccionFooter2 {
            order: 3;
        }
        .seccionFooter3 {
            order: 4;
        }
        .seccionFooter4 {
            order: 2;
            .ubicacion iframe{
                width: 250px;
                height: 200px;
            }
        }
    }
}

@media (min-width: 1200px) {
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .seccionFooter1 {
            order: 1;
        }
        .seccionFooter2 {
            order: 2;
        }
        .seccionFooter3 {
            order: 3;
        }
        .seccionFooter4 {
            order: 4;
        }
    }
}
