@font-face {
    font-family: "Pacifico";
    src: url(/fonts/Pacifico-Regular.ttf) format("truetype");
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .contenidoApp {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
  }
  
  .app-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .footerApp {
    margin-top: auto;
  }