.opinion{
    font-family: $font-page;
    color: $color-primary;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    padding: 15px;
    height: 100%;
    width: 250px;
    border: 1px solid $color-secundary;
    text-align: justify;
    img{
        width: 40%;
    }
}